<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
       <div class="main-content">
         {{>header}}
          <p>We are curious people who enjoys figuring out the building blocks of the world, 
            and rearranging them to build something even better. <br>
            We both are currently, attempting to learn Node.js.<br><br>
            <i>The best thing about a boolean is even if you are wrong, you are only off by a bit.</i></p>
    </div>
   
    {{>footer}}
</body>
</html>